{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
{% if 'user_id' not in session %}
<ul>
      <li><a href="/register">Register</a></li>
</ul>

<form id="login-user-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
           if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}
<!--
        {% for error in field.errors %}
          {{ error }}
        {% endfor %} -->
      </p>

    {% endfor %}

    <button type="submit">Login</button>
  </form>
{% endif %}

{% if 'user_id' in session %}
<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>
{% endif %}

{% endblock %}