{% extends 'base.html' %}
{% block title %} Create New User {% endblock %}

{% block content %}

{% if 'user_id' in session %}
<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

{% else %}
<form id="new-user-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
           if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}

    <button type="submit">Submit New User</button>
  </form>
{% endif %}
{% endblock %}